<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="github_md.css">
        </head>

        <style type="text/css">body{margin:40px
            auto;max-width:650px;line-height:1.6;font-size:18px;color:#454545;padding:0
            10px}h1,h2,h3{line-height:1.2}
        </style>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/josh-hejka-scouting-profile">Scouting Profile</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>
	</html>