html, body {
    background: #181818;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    color: #222222;
}

.clear {clear: both;}

#profile {
    width: 95%;
	max-width: 700px;
	background: transparent;
	margin: 30px auto;
}

.top_section {
    width: 90%;
    max-width: 700px;
    background: transparent;
    margin: 30px auto;
    /* padding: 25px 35px; */
    color: #eeeeee;
}

.photo_section_left {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.photo_section_left img {
    width: 95%;
    border-radius: 40px;
}

.photo_section_right {
    width: 50%;
    float: right;
    margin-bottom: 30px;
}

.photo_section_right img {
    width: 95%;
    border-radius: 40px;
    float: right;
}

.info_section {
    background: #eeeeee;
    padding: 15px 5%;
    border-radius: 30px;
    column-count: 2;
}

.info_section_first {
    width: 37.5%;
    background: #eeeeee;
    padding: 15px 5%;
    border-radius: 30px;
    float: left;
}

.info_section_second {
    width: 37.5%;
    background: #eeeeee;
    padding: 15px 5%;
    border-radius: 30px;
    float: right;
}

/* .info_section_first {
    width: 20%;
    float: left;
    background: #eeeeee;
    padding: 25px 5%;
    border-radius: 30px;
}

.info_section_second {
    width: 20%;
    float: left;
    background: #eeeeee;
    padding: 25px 5%;
    border-radius: 30px;
    margin-left: 5%;
} */

.main_section {
    width: 90%;
	max-width: 700px;
	background: #eeeeee;
    margin: 30px auto;
    padding: 15px 5%;
    border-radius: 30px;
}

#headshot {
    width: 10%;
    float: left;
    margin-left: -35px;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}

#player_info {
    float: left;
}

#player_info h1 {
    font-size: 2.25em;
    margin: 0px;
}

#player_info h2 {
    font-size: 1.75em;
    margin: 0px;
}

#contact_details {
    float: right;
}

#contact_details ul {
	list-style-type: none;
	font-size: 1.1em;
    margin-top: 2px;
    padding-left: 0px;
}

#contact_details ul li {
	margin-bottom: 3px;
	color: #eee;
}

#contact_details a {
    color: #68ace5;
}

#contact_details a:link {
    color: #68ace5;
}

#contact_details a:visited {
    color: #999999;
}

#contact_details a:hover {
    color: #2a93e9;
}

.section_header {
    border-bottom: 2px solid #68ace5;
}

.section_header h1 {
	font-style: italic;
	font-size: 1.5em;
	color: #68ace5;
	margin-bottom: 10px;
}

.section_content h2 {
	font-size: 1.5em;
	margin-bottom: -2px;
}

.section_content li {
	margin-top: 10px;
	margin-bottom: 0px;
	list-style-position: outside;
	color: #444;
	line-height: 1.33em;
}

.pitch_info li {
	display: block;
	margin-left: -40px;
	margin-bottom: -3px;
	line-height: 1.2em;
}

.bordered_section {
    border-bottom: 2px solid #dedede;
    padding-bottom: 10px;
}

.bordered_section_no_padding {
    border-bottom: 2px solid #dedede;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 800px) {
    #headshot {
        display: none;
    }
}

@media all and (max-width: 600px) {
    #profile {
        width: 100%;
    }

    #player_info, #contact_details {
		float: none;
		width: 100%;
		text-align: center;
    }

    .info_section_first {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 480px) {
    .info_section_first, .info_section_second {
        float: none;
        width: 90%;
    }
}

/* .sidenav {
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 55px;
  left: 5%;
  background: #eeeeee;
  overflow-x: hidden;
  padding: 25px 35px;
  border-radius: 40px;
}

.sidenav a {
  /* padding: 6px 8px 6px 16px; */
  /* text-decoration: none;
  font-size: 18px;
  color: #68ace5;
  display: block;
}

.sidenav a:hover {
  color: #2a93e9;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */



.carouselbox {
    width: 90%;
    /* position:; */
    /* margin: 0px; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 2px 2px 10px #ccc; */
    overflow: hidden;
}

.content {
    margin: 0;
    padding: 0;
  }
  .content li {
    font-size: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 700px;
    list-style: none;
    text-align: center;
    z-index: 2;
  }

/* .content img {
    width: 100%;
    border-radius: 40px;
} */

.active {
    width: 100%;
  }
.active img {
    width: 47.5%;
    border-radius: 40px;
}
  .carouselbox button {
    border: none;
    visibility: hidden;
  }
  .active button {
    visibility: visible;
  }
  .offscreen {
    position: absolute;
    left: -2000px;
  }
  .active .buttons {
    padding: 5px 0;
    background: #181818;
    text-align: center;
    z-index: 10;
    position: relative;
  }
  .active li {
    position: absolute;
    /* top: 20px; */
    opacity: 0;
    /* transform: translateX(50%);
    transition: 1s; */
  }
  .active li.current {
    /* top: 20px; */
    opacity: 1;
    /* transform: translateX(50%);
    transition: 1s; */
  }
  /* .li img {
    width: 200px;
    height: 200px;
    display: block;
  } */
